@import './base.css';
@import "tailwindcss";


#app {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  font-weight: normal;
  padding: 0 0.8vw;
}

main {
  margin: 0 auto;
    padding: 1vw;
    width: 100%;
    text-align: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.photoList {
  max-width: 600px;
  height: 600px;
  overflow-y: scroll;
  margin: 0 auto;
}


th {
  position: sticky;
  top: 0;
  background-color: #fff;
}

th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.photoFilter__input {
  margin-bottom: 2vh;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  .photoList {
    width: 600px;
  }  
  .photoFilter__input {
    font-size: calc(1vw + 1vh);
  }
}

@media (min-width: 320px) {
  .photoList {
    max-width: 100%;
  }

  .header__text {
    font-size: calc(1vw + 3vh);
  }
}

@media (min-width: 1500px) {
  .photoList {
    width: 900px;
    font-size: calc(1vw + 0.5vh);
  }
  .photoList__thead {
    font-size: calc(1vw + 0.5vh);
  }
  .header__text {
    font-size: calc(1vw + 2vh);
  }
  .btn {
    font-size: calc(1vw + 1vh);
  }
  .photoLoader__loader {
    width: 10vw;
  }
}

@media (min-width: 1920px) {
  .photoList {
    width: 1200px;
    font-size: calc(1vw + 0.5vh);
  }

  .photoList__thead {
    font-size: calc(1vw + 0.5vh);
  }

  .header__text {
    font-size: calc(1vw + 2vh);
  }
}


.dark {
  background-color: #083344;
  color: #d9f99d;
}

.ligth {
  background-color: #ecfeff;
}